<Card CardType="light">
    <CardHeader>@angle @side Triangle</CardHeader>
    <CardTitle>Valid @angle triangle</CardTitle>
    <CardContent>
        <p>The angle is @angle Angle.</p>
        <p>The side is @side Side.</p>
        <p>Angle A is @triangle.AngleA</p>
        <p>Angle B is @triangle.AngleB</p>
        <p>Angle C is @triangle.AngleC</p>
    </CardContent>
</Card>

@code {
    [Parameter]
    public Triangle triangle { get; set; }

    private string angle;
    private string side;

    protected override void OnInitialized()
    {
        angle = triangle.CurrentAngleType();
        side = triangle.CurrentSideType();
    }
}